#home {

}

header {
	background: $dark-blue;	
}

#refractive-logo {
	position: relative;
    top: -3px;
    width: 25px;
}

#refractive-logo-footer {
	width: 25px;
	margin: 0 auto 30px;
	display: block;
}

.home-header {
	background: url('/img/header2.1.jpg');
	background-size: cover;
	height: 100vh;
}

.home-header h1 {
	text-align: center;
	font-weight: 200;
	font-size: 3em;
	margin: 10vh 0 5vh;
	color: $white;
	opacity: 0;
}

#projects h2 {
	border-bottom: 1px solid #ddd;
    font-size: 2em;
    font-weight: 200;
    padding: 0 0 20px;
}

.big-button {
	position: relative;
	top: 30px;
	opacity: 0;
	background: $electric-blue;
    border-radius: 7px;
    color: $grey-dark !important;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 250px;
    font-size: 1.2em;
    font-weight: 200;
    -webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

.big-button:hover {
	text-decoration: none;
	background: $electric-blue-light;
    -webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

.big-button i {
	position:relative;
	top: 1px;
}

.small-button {
	background: $light-blue;
    border-radius: 7px;
    color: $white !important;
    display: inline-block;
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 150px;
    font-size: 1em;
    font-weight: 200;
    -webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
	float: right;
	font-size: 0.6em;
}

.small-button:hover {
	text-decoration: none;
	background: $light-blue-light;
    -webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

.small-button-repo {
	background: #aaa;
	margin: 0 0 0 10px;
}

.small-button-repo:hover {
	background: #999;
}

.post-header {
	background: none;
}

.project {
	margin: 0 0 20px;
	padding: 0 0 20px;
	border-bottom: 1px solid #ddd;
}

.project-images {
	
}

.project-images img {
	max-width: 280px;
	margin: 0 0 10px;
}

.project-title {
	font-size: 1.5em;
	font-weight: 200;
}

.project-text {
	font-weight: 200;
}

.post-list li {
	width: 32%;
	display: inline-block;
	margin: 0 1% 1% 0;
	vertical-align: top;
}

.post-list li img {
	width: 100%;
}

.post-excerpt {
	font-size: 16px;
	font-weight: 200;
	margin: 10px 0 0;
}

.post-link h2 {
	margin: 0;
}

.post-link:hover {
	text-decoration: none;
}

.post-single .post-header,
.post-single .post-content {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
